.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.thumbnail-wrapper {
  width: 270px;
  height: 270px;
  margin: 20px;
}

.thumbnail-grid {
  display: flex;
  flex-wrap: wrap;
}

.tag-page-header{
  text-align: center;
}