.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.breadcrumb {
  margin: '10px 64px 10px 64px';
}

.layout-content {
  margin: '0px 64px 0 64px';
  background: '#fff';
  padding: 24;
}
